{{template "base" .}}

{{define "content"}}
    <h1>hi</h1>
    <div>
    <table>
        <tr><td>hi</td></tr>
        <tr><td>there</td></tr>
        <tr><td>welcome</td></tr>
        <tr><td>hello thXXXXXXXXXXXXXXXXere</td></tr>
        <tr><td>how is life</td></tr>
        <tr><td>this is cool</td></tr>
        <tr><td>really cool idk</td></tr>
        <tr><td>i hate my life</td></tr>
        <tr><td>fuck lpu </td></tr>
        <tr><td>fuck lpu </td></tr>
        <tr><td>i will not jump in march</td></tr>
    </table>
    <p>
        fff8asdfbdsfubwdubf ds fdabbb dsss
        {{index .StringMap "morty"}}
    </p>
    <p>
        {{ if ne (index .StringMap "remote_ip") "" }}
        your IP is {{index .StringMap "remote_ip"}}
        {{else}}
        no ip found 
        {{end}}
    </p>
    <p>
        <img src="static/images/architecture-1087819_1280.jpg" height="720" width="1280" >
    </p>
    </div>
{{end}}